.box {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box:hover i {
  animation-name: pulse;
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.animate-scroll.animate__animated.animate__fadeIn {
  opacity: 1;
}
