* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.about {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding-top: 48px;
  background-color: #fff;
  border-top-right-radius: 50px;
}

article {
  max-height: 552px;
  margin: 44px 0 0 0;
}

body {
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.back-images-intro {
  width: 375px;
  height: 694px;
  padding-top: 24px;
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 0;
  width: 100%;
}

.connectlink {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
}

.counter {
  padding: 0 12px 0 12px;
}

h1 {
  padding-top: 120px;
  padding-left: 12px;
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

h4 {
  height: 36px;
  width: 295px;
  left: 0;
  padding: 12px 0 20px 0;
  font-family: 'Poppins', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

header {
  background: white;
  box-sizing: border-box;
  left: 0;
  padding: 24px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

html {
  font-family: 'Poppins', serif;
  font-size: 16px;
}

.intro {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding-top: 48px;
  background-color: #fff;
  border-bottom-left-radius: 50px;
}

.intro-text {
  width: 327px;
  height: 146px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

li {
  list-style-type: none;
}

.linktonic {
  display: flex;
  align-content: flex-start;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.03em;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-block: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 50px;
}

.linktonic:hover {
  background-color: rosybrown;
  transition: 0.25s;
}

.logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  border-radius: nullpx;
}

.logonav {
  background: #e5e5e5;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-image: url("./images/header-background-mobile.svg");
  background-repeat: no-repeat;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 2.5vw;
  list-style-type: none;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0 38px 88px;
  background: #e5e5e5;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
}

.works-info li {
  display: inline-block;
  gap: 20px;
}

.works-info {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works-tonic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 24px 24px 0 24px;
  margin-top: 88px;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  max-width: 100%;
  max-height: 100%;
}

.works-ref-font {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  width: 55px;
  height: 16px;
}

.icons li {
  margin: 0 2.5vw;
  list-style-type: none;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  list-style-type: none;
}

.icons button {
  background: none;
  border: none;
}

#logonav {
  display: flex;
  justify-content: space-between;
}

section {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 24px 0 24px;
  width: 100%;
}

.snapshoot {
  width: fit-content;
  height: fit-content;
}

.skills {
  display: flex;
  justify-content: baseline;
  gap: 1.2rem;
}

.text-tonic {
  width: 295px;
  height: 76px;
  padding: 20px 0 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.skills li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  background: #ebebff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.li-javascript {
  width: 89px;
}

.li-css {
  width: 45px;
}

.li-html {
  width: 53px;
}

/* Languages & Frameworks */
.lang-frame-skills {
  background-color: #fff;
}

.lang-frame-skills_languages {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding-right: 2.3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.javascript .html5 .css {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  text-align: center;
}

.arrow-down {
  padding: 0.9rem 1.6rem 1rem 1.2rem;
}

.lang-frame-skills_icons li {
  display: flex;
  align-items: center;
  color: #253858;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  background-color: #f7f7f9;
  margin: 1.2rem 0;
}

.lang-frame-skills_icons li:last-child {
  margin-bottom: 3.6rem;
}

.lang-frame-skills_frameworks {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 2.3rem;
}

.lang-frame-skills_skills {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 2.3rem;
  padding-top: 2.4rem;
}

.arrow-right {
  padding: 0.9rem 1.6rem 1rem 1.2rem;
}
