@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  .appear {
    width: 100%;
    background-color: green;
    height: 100%;
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    place-content: center;
    max-width: 100%;
    padding-top: 0.1875rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  article {
    max-height: 33.25rem;
    margin: 18.75rem 1.5rem 0 0;
    row-gap: 7%;

    /* display: grid; */
  }

  body {
    box-sizing: border-box;
    background-color: rgb(229, 229, 229);
  }

  .back-images-intro {
    width: 100%;
    max-height: 100%;
    padding-top: 3rem;
    background-image: url("./images/header-bg.svg");
    background-repeat: no-repeat;
    background-position: 6px -68%;
    background-size: 100%;
    margin-bottom: 12%;
  }

  .back-about {
    width: 20.125rem;
    height: 450px;
    padding: 2vh;
  }

  button {
    display: flex;
    align-items: center;
    place-content: flex-start center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: rgb(57, 109, 242);
    letter-spacing: 0.03em;
    border: none;
    border-radius: 1rem;
    margin: 0.75rem;
    width: 9.375rem;
    height: 3.125rem;
  }

  .container {
    margin: 0 auto;
    max-width: 67.5rem;
    padding: 1.5625rem;
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .container-about {
    margin: 0 auto;
    max-width: 67.5rem;
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .connectlink {
    padding: 0.75rem;
    font-size: 16px;
    font-weight: 500;
    margin: 6% 0 0;
    line-height: 24px;
    text-align: left;
    color: rgb(127, 140, 255);
  }

  .connectlink-about {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    margin: 20% 0 0;
    line-height: 1.5rem;
    text-align: left;
    color: rgb(127, 140, 255);
  }

  .counter {
    padding: 0 12px;
  }

  .fill-name,
  .fill-email {
    padding: 0.5833rem 1rem;
  }

  .floating {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    max-width: 100%;
    margin-top: 5%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 48.6875rem;
    background-image:
      url("./images/contact- form-back.svg") 50% 15% / 92%
      no-repeat rgb(96, 112, 255);
  }

  .form-name-box,
  .form-email-box {
    width: 20.4375rem;
    height: 1.75rem;
    background: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(207, 216, 220);
    border-radius: 8px;
    padding-bottom: 20px;
    margin: 12px;
  }

  .message-box {
    width: 20.4375rem;
    height: 170px;
    background: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(207, 216, 220);
    border-radius: 8px;
    margin: 16px 0 16px 12px;
    padding-bottom: 20px;
  }

  .form-text {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: rgb(235, 235, 255);
    padding-bottom: 3.875rem;
  }

  h1 {
    padding-left: 0.75rem;
    width: 100%;
    height: 97px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: rgb(23, 43, 77);
  }

  h6 {
    padding-left: 0.75rem;
    width: 20.4375rem;
    height: 9.375rem;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: rgb(23, 43, 77);
  }

  h4 {
    left: 0;
    font-family: Poppins, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
  }

  h5 {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: rgb(255, 255, 255);
    padding: 6.4375rem 0 0.75rem;
  }

  header {
    background: white;
    box-sizing: border-box;
    left: 0;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    border-bottom-left-radius: 4.3125rem;
    border-bottom-right-radius: 4.3125rem;
  }

  html {
    font-family: Poppins, serif;
    font-size: 1rem;
    color: #1a30ff;
    background-color: #f0f0f0;
  }

  input {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    border: none;
    outline: none;
  }

  .intro {
    /* display: flex; */

    /* align-items: flex-start; */

    /* flex-direction: column; */

    /* justify-content: center; */

    /* max-width: 100%; */

    /* padding-top: 7.75rem; */
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3.125rem;

    /* height: 1%; */
    background-size: -1%;
  }

  .intro-text {
    width: 100%;
    height: 5.9375rem;
    padding: 0.75rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-align: left;
    color: rgb(52, 69, 99);
  }

  .intro-text-box {
    margin-inline: 18%;
  }

  li {
    list-style-type: none;
  }

  .linktonic {
    display: flex;
    align-items: center;
    place-content: flex-start center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 1.5rem;
    color: rgb(57, 109, 242);
    letter-spacing: 0.03em;
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 0.375rem;
    margin: 1rem 0;
    width: 5.8125rem;
    height: 1.875rem;
  }

  .linktonic:hover {
    background-color: #6070ff;
    transition: all 0.25s ease 0s;
  }

  .logo {
    width: 4.75rem;
    height: 1.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: rgb(96, 112, 255);
  }

  .logonav {
    background: rgb(229, 229, 229);
    list-style-type: none;
  }

  main {
    display: flex;
    flex-direction: column;
    background-image: url("./images/header-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  nav ul {
    list-style-type: none;
  }

  nav ul li {
    display: inline-block;
    margin: 0 2.5vw;
    list-style-type: none;
  }

  .resume-link {
    margin: 0.9375rem 0.75rem;
    display: flex;
    align-items: center;
    place-content: flex-start center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: rgb(57, 109, 242);
    letter-spacing: 0.03em;
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 0.375rem;
    width: 46%;
    height: 11%;
  }

  .resume-link :hover {
    transition: 900ms;
    background-color: blue;
    transform: scaleX(1);
    width: 100%;
    height: 100;
  }

  .resume-link :active {
    font-size: x-large;
  }

  .li .works {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 10.5625rem 0.75rem 7.125rem;
    row-gap: 2.75rem;
    background: rgb(229, 229, 229);
    box-sizing: border-box;
    border: 0.0625rem solid rgb(223, 225, 230);
    align-content: center;
  }

  .works-info li {
    display: inline-block;
    gap: 1.25rem;
  }

  .works-info {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: rgb(122, 134, 154);
  }

  .works-title {
    width: 40%;
  }

  .works-tonic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 0.75rem 0 1.5rem;
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 1.5rem;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    width: 64%;
    column-gap: 0.5%;
  }

  .works-ref-font {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: rgb(52, 69, 99);
    width: 3.4375rem;
    height: 1rem;
  }

  .icons li {
    margin: 0 1.5vw;
    list-style-type: none;
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style-type: none;
  }

  button .icons {
    background: none;
    border: none;
  }

  #logonav {
    display: flex;
    justify-content: space-between;
  }

  .submit-button {
    display: flex;
    place-content: flex-start center;
    text-align: center;
    background-color: rgb(235, 235, 255);
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    width: 9.375rem;
    height: 3.125rem;
    margin: 0.75rem;
  }

  .submit-button:hover {
    background-color: rgb(241, 238, 9);
    transition: all 0.25s ease 0s;
  }

  .snapshoot {
    width: 44%;
    height: fit-content;
  }

  #snap,
  #snap2,
  #snap3,
  #snap4 {
    size: 80%;
    height: 120%;
  }

  .snapshoot:hover {
    transform: scale(0.97);
    transform: rotate(-9deg);
  }

  .skills {
    display: flex;
    gap: 1.2rem;
  }

  textarea {
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  .text-tonic {
    width: 18.4375rem;
    height: 4.75rem;
    padding: 0.75rem 0 0.3125rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: rgb(52, 69, 99);
  }

  .skills li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 0.625rem;
    background: rgb(235, 235, 255);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: rgb(96, 112, 255);
    padding: 0.25rem 0.75rem;
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 1rem;
  }

  .li-javascript {
    width: 5.5625rem;
  }

  .li-css {
    width: 2.8125rem;
  }

  .li-html {
    width: 3.3125rem;
  }

  .textarea {
    height: 14em;
    width: 24.5em;
  }

  .lang-frame-skills {
    background-color: rgb(255, 255, 255);
    padding: 0.5% 0% 1% 0%;
    width: 100%;
    height: -50%;
  }

  .lang-frame-skills_languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    padding-right: 3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 4.375rem;
  }

  .javascript .html5 .css {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: rgb(37, 56, 88);
    text-align: center;
    margin-bottom: 0.75rem;
  }

  .arrow-down {
    padding: 14.4px 25.6px 16px 19.2px;
  }

  .lang-frame-skills_icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    color: rgb(37, 56, 88);
    font-size: 0.9375rem;
    font-weight: 500;
    background-color: rgb(247, 247, 249);
    text-align: right;
    margin: 3.2rem 0.2rem;
  }

  .lang-frame-skills_icons {
    width: 91.4%;
    display: flex;
    flex-direction: row;
    column-gap: 8%;
  }

  .lang-frame-skills_frameworks {
    border-bottom: 0.0625rem solid rgb(223, 225, 230);
    height: 4.5rem;
  }

  .lang-frame-skills_skills {
    border-bottom: 0.0625rem solid rgb(223, 225, 230);
  }

  .arrow-right {
    padding: 0.9rem 1.6rem 1rem 1.2rem;
  }
}

.appear {
  width: 100%;
  background-color: green;

  /* height: 1142px; */
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: -100%;
}

.active {
  left: 100%;
}

.navLink {
  width: 30rem;
  display: flex;
  margin-left: 30px;
  color: white;
  font-weight: 700;
  font-size: 32px;
  padding: 1rem;
  border-bottom: 1px solid white;
}

.navList {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #6070ff;
  width: 100%;
  height: 50rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
}

.show {
  left: 0;
}

.closeItem {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 32px;
  color: white;
  font-weight: 700;
}

.closeNav {
  color: white;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  color: white;
}
