@media only screen and (max-width: 768px) {
  * {
    margin: 0 0%;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    place-content: center;
    max-width: 100%;
    padding-top: 3rem;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 3.125rem;
  }

  article {
    max-height: 37.25rem;
    margin: 2.75rem 1.5rem 0 0;
  }

  body {
    box-sizing: border-box;
    background-color: rgb(229, 229, 229);
  }

  .back-images-intro {
    width: 80%;
    height: 41.25rem;
    padding-top: 8rem;
    background-image: url("./images/header-shapes mobile.png");
    background-repeat: no-repeat;
    background-position: 0 top;
  }

  .back-about {
    width: 23.4375rem;
    height: 28.125rem;
    padding-top: 1.5rem;
  }

  button {
    display: flex;
    align-items: center;
    place-content: flex-start center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: rgb(57, 109, 242);
    letter-spacing: 0.03em;
    border: none;
    border-radius: 1rem;
    margin: 0.75rem;
    width: 9.375rem;
    height: 3.125rem;
  }

  .container {
    margin: 0 auto;
    max-width: 67.5rem;
    padding: 0 0.5rem;
    width: 100%;
    height: 41.875rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .container-about {
    margin: 0 auto;
    max-width: 67.5rem;
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .connectlink {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    color: rgb(127, 140, 255);
  }

  .connectlink-about {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    color: rgb(127, 140, 255);
  }

  .counter {
    padding: 0 0.75rem;
  }

  .flex-about-frame {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }

  .fill-name,
  .fill-email {
    padding: 0.5833rem 1rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 48.6875rem;
    background:
      url("./images/form-shapes-mobile.svg") 9.5625rem 1.3125rem no-repeat
      rgb(96, 112, 255);
  }

  .form-name-box,
  .form-email-box {
    width: 20.4375rem;
    height: 1.75rem;
    background: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(207, 216, 220);
    border-radius: 0.5rem;
    padding-bottom: 1.25rem;
    margin: 0.75rem;
  }

  .message-box {
    width: 20.4375rem;
    height: 10.625rem;
    background: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(207, 216, 220);
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0.75rem;
    padding-bottom: 1.25rem;
  }

  .form-text {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: rgb(235, 235, 255);
    padding-bottom: 3.875rem;
  }

  h1 {
    padding-left: 0.75rem;
    width: 20.4375rem;
    height: 9.375rem;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: rgb(23, 43, 77);
  }

  h4 {
    height: 2.25rem;
    width: 18.4375rem;
    left: 0;
    padding: 0.75rem 0 1.25rem;
    font-family: Poppins, serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: 0;
    text-align: left;
  }

  h5 {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: rgb(255, 255, 255);
    padding: 6.4375rem 0 0.75rem;
  }

  header {
    background: white;
    box-sizing: border-box;
    left: 0;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    border-bottom-left-radius: 4.3125rem;
    border-bottom-right-radius: 4.3125rem;
  }

  html {
    font-family: Poppins, serif;
    font-size: 1rem;
    color: #1a30ff;
  }

  input {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    border: none;
    outline: none;
  }

  .intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding-top: 3rem;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3.125rem;
  }

  .intro-text {
    width: 20.4375rem;
    height: 9.125rem;
    padding: 0.75rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-align: left;
    color: rgb(52, 69, 99);
  }

  li {
    list-style-type: none;
  }

  .linktonic {
    display: flex;
    align-items: center;
    place-content: flex-start center;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: rgb(57, 109, 242);
    letter-spacing: 0.03em;
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 1rem;
    margin: 1rem 0;
    width: 9.375rem;
    height: 3.125rem;
  }

  .linktonic:hover {
    background-color: rosybrown;
    transition: all 0.25s ease 0s;
  }

  .logo {
    width: 4.75rem;
    height: 1.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: rgb(96, 112, 255);
  }

  .logonav {
    background: rgb(229, 229, 229);
    list-style-type: none;
  }

  main {
    display: flex;
    flex-direction: column;
    background-image: url("./images/header-background-mobile.svg");
    background-repeat: no-repeat;
  }

  nav ul {
    list-style-type: none;
  }

  nav ul li {
    display: inline-block;
    margin: 0 2.5vw;
    list-style-type: none;
  }

  .work-title {
    display: flex;
    flex-direction: column;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 7.125rem 0.75rem;
    row-gap: 2.75rem;
    background: rgb(229, 229, 229);
    box-sizing: border-box;
    border: 0.0625rem solid rgb(223, 225, 230);
    align-content: center;
  }

  .works-info li {
    display: inline-block;
    gap: 1.25rem;
  }

  .works-info {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: rgb(122, 134, 154);
  }

  .works-tonic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 0.75rem 0 1.5rem;
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 1.5rem;
    max-width: 96.4%;
    max-height: 37.25rem;
  }

  .works-ref-font {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: rgb(52, 69, 99);
    width: 3.4375rem;
    height: 1rem;
  }

  .icons li {
    margin: 0 2.5vw;
    list-style-type: none;
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style-type: none;
  }

  button .icons {
    background: none;
    border: none;
  }

  #logonav {
    display: flex;
    justify-content: space-between;
  }

  .submit-button {
    display: flex;
    place-content: flex-start center;
    text-align: center;
    background-color: rgb(235, 235, 255);
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    width: 9.375rem;
    height: 3.125rem;
    margin: 0.75rem;
  }

  .submit-button:hover {
    background-color: rgb(241, 238, 9);
    transition: all 0.25s ease 0s;
  }

  .snapshoot {
    width: fit-content;
    height: fit-content;
  }

  .skills {
    display: flex;
    gap: 19.2px;
  }

  textarea {
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  .text-tonic {
    width: 18.4375rem;
    height: 4.75rem;
    padding: 1.25rem 0 0.75rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: rgb(52, 69, 99);
  }

  .skills li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    background: rgb(235, 235, 255);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: rgb(96, 112, 255);
    padding: 0.25rem 0.75rem;
    border: 0.0625rem solid rgb(223, 225, 230);
    border-radius: 1rem;
  }

  .li-javascript {
    width: 5.5625rem;
  }

  .li-css {
    width: 2.8125rem;
  }

  .li-html {
    width: 3.3125rem;
  }

  .works-box {
    display: flex;
    flex-direction: column;
  }

  .lang-frame-skills {
    background-color: rgb(255, 255, 255);
    padding-left: 2.25rem;
    width: 26.4375rem;
  }

  .lang-frame-skills_languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    padding-right: 3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 4.375rem;
  }

  .javascript .html5 .css {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: rgb(37, 56, 88);
    text-align: center;
    margin-bottom: 0.75rem;
  }

  .arrow-down {
    padding: 14.4px 25.6px 16px 19.2px;
  }

  .lang-frame-skills_icons li {
    display: flex;
    align-items: center;
    justify-content: normal;
    color: rgb(37, 56, 88);
    font-size: 0.9375rem;
    font-weight: 500;
    background-color: rgb(247, 247, 249);
    text-align: right;
    margin: 1.2rem 0.2rem;
  }

  .lang-frame-skills_icons li:last-child {
    margin-bottom: 3.6rem;
  }

  .lang-frame-skills_icons {
    width: 91.4%;
  }

  .lang-frame-skills_frameworks {
    border-bottom: 0.0625rem solid rgb(223, 225, 230);
    width: 20.4375rem;
    height: 4.5rem;
  }

  .lang-frame-skills_skills {
    border-bottom: 0.0625rem solid rgb(223, 225, 230);
  }

  .arrow-right {
    padding: 0.9rem 1.6rem 1rem 1.2rem;
  }
}
